{% extends 'base.html.twig' %}

{% block title %}ajout avec succes!{% endblock %}

{% block body %}
   
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="card mt-5">
<div class="card-body">
<center>
<span class="icon-succes "> <i class="fas fa-check-circle animate__animated animate__bounce"></i> </span> 
</center>
<h2 style="color:#2ecc71;text-align:center"> Merci,  votre devis a été ajouter par succès!   </h2>
</div>

</div>
</div>

</div>


</div>

</div>
</div>

</div>
</div>
</div>












{% endblock %}
